## openvpn config script to connect to a Witopia server

## cityName will be substituted by a shell script
remote vpn.cityName.witopia.net 1194 udp
pull
tls-client
ns-cert-type server
dev tun

## preserve state across restarts if possible
persist-key
persist-tun

#redirect-gateway block-local

## paths to the certs
cert ../Anthony_Reed.crt
key ../Anthony_Reed.key
ca ../ca.crt
#tls-auth ../ta.key 1


## enable compression
comp-lzo
cipher bf-cbc

# silence repeating messages
mute 20
verb 4

# dns
#dhcp-option DNS 70.186.153.38

#script-security 2
#up /etc/openvpn/update-resolv-conf.sh
#down /etc/openvpn/update-resolv-conf.sh


